* {
  padding: 0;
  margin: 0;
}

.container,
.form > form, 
.interface {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form > form {
  align-items: flex-start;
  margin: auto;
}

.form {
  padding: 10px 10px;
  margin: auto;
  background-color: #fafafa;
  border-radius: 10px;
}

.form-container {
  width: 400px;
}

.form input,
select,
.button-group {
  align-self: center;
}

.input {
  padding: 5px;
  margin: 10px 0;
  min-width: 60%;
}

.interface{
  flex-direction: row;
}

.button {
  background-color: #155a8b;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  align-self: center;
  margin: 10px;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.form label {
  font-size: 1.2em;
}

.button:hover {
  background-color: #07c;
}

table.customTable {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #A2A6B8;
  border-style: solid;
  color: #FFFFFF;
}

table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #A2A6B8;
  border-style: solid;
  padding: 5px;
}

table.customTable thead {
  background-color: #2875ac;
}

table.customTable td{
  color: black;
}